<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>694055583238-36ereg4o7j43132blm7idtnfp4leo0tl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.694055583238-36ereg4o7j43132blm7idtnfp4leo0tl</string>
	<key>API_KEY</key>
	<string>AIzaSyA2yfVqxS_rx6w-LwAsEuiyGSlmafCwAjk</string>
	<key>GCM_SENDER_ID</key>
	<string>694055583238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-ec1a6</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-ec1a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694055583238:ios:1e61500fb61ec8068a4d87</string>
</dict>
</plist>